* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: rgba(239, 238, 238, 255);
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.trybewarts-header-logo {
  max-height: 60px;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  margin: 0 5%;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

h2 {
  text-align: center;
}

#trybewarts-forms-logo {
  height: 500px;
}

.marcar {
  display: flex;
  flex-direction: row;
}

#label-family {
  display: block;
  margin-right: 40px;
}

.input-family {
  display: block;
}

#label-content {
  display: block;
}

.family {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.aprender {
  width: 60%;
}
.aprenderCheckbox {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
}

.aprenderCheckbox label {
  margin-right: 20px;
}

.textarea{
display: flex;
flex-direction: column;
}

.footer {
  text-align: center;
  align-items: center;
  vertical-align: middle;
  background-color: rgba(61, 65, 74, 255);
  color: rgba(255, 255, 255, 255);
  padding: 5px;
}

hr {
  width: 100%;
  border: none;
}

.img {
  margin: 0 auto;
  margin: 0 5%;
}
