.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.alinhar {
  display: flex;
}

.family {
  display: flex;
  flex-direction: row;
}

#label-family {
  display: block;
  margin-right: 40px;
}

.input-family {
  display: block;
}

#label-content {
  display: block;
}

.family-son {
  display: flex;
  flex-direction: column;
}
